@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: 'Rubik', sans-serif;
        @apply bg-gradient-to-b from-slate-900 to-[#02577a] bg-no-repeat h-full;
    }
}

@layer components {
    .entry-card {
      animation: 0.8s fadeIn ease-out;
       @apply border-slate-200/50 relative w-full bg-slate-800/50 m-2 border rounded-sm shadow-md duration-100 ease-in;
    }

    .entry-card__image {
        @apply h-full w-1/3 object-cover group-hover:opacity-20 opacity-10 right-0 -z-10 absolute;
    }    

    .entry-card__container {
      @apply w-full px-3 py-4;
    }

    .entry-card__title {
        @apply font-semibold text-white/80;
    }

    .entry-card__description {
      @apply text-white/70 mt-2;
    }

    .entry-card__footer {
      @apply text-white w-full text-xs mt-4 flex justify-between;
    }

    .entry-card:hover {
      @apply cursor-pointer scale-[1.01] shadow-slate-800/70 bg-slate-800/70;
    }

    .back-button {
        @apply text-4xl text-white z-10 opacity-40 hover:opacity-100 absolute m-5 cursor-pointer;
    }

    .article-page-button {
        @apply text-white w-full uppercase text-center flex justify-center px-4 py-3 text-xl h-full border border-slate-300/50 duration-100 ease-out;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.hidden-overflow::-webkit-scrollbar {
    display: none;
}